body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1rem;
   line-height: 1.5;
   color: white;
   background-color: rgb(27, 27, 27);
}

.navBar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 3.75rem;
   box-shadow: 0 50px 1000px white;
   background-color: black;
   margin-bottom: 2.5rem;
}

.navBar ul {
   display: flex;
   width: 100%;
   justify-content: space-around;
   color: white;
   list-style-type: none;
   font-size: 1.25rem;
}

.page {
   display: flex;
   width: 100%;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 3.125rem;
   padding-bottom: 1.5625rem;
}

.page #block1 {
   width: 25rem;
   justify-content: start;
   align-self: flex-start;
}

.page #block2 {
   width: 37.5rem;
}

.footer {
   display: flex;
   height: 100%;
   justify-content: center;
   align-items: flex-end;
}

.spaceInvaderHeading {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px;
   padding: 20px;
   box-shadow: 0 0 25px white;
}

.spaceInvaderHeading ul, li {
   align-self: flex-start;
}

.hackathonHeading {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px;
   box-shadow: 0 0 25px white;
   padding: 20px;
}

.hackathonHeading p {
   align-self: flex-start;
}

.falloutHeading {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px;
   box-shadow: 0 0 25px white;
   padding: 20px;
}

.falloutHeading p {
   align-self: flex-start;
}

.pixelHeading {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px;
   box-shadow: 0 0 25px white;
   padding: 20px;
}

.neonText {
   text-decoration: none;
   font-weight: bold;
   font-size: 1.25rem;
   padding: 1.25rem;
   color: white;
}

.neonText:hover {
   text-shadow: 0 0 20px rgb(0, 255, 4);
   color:rgb(34, 255, 0);
}

.slider {
   width: 56.25rem;
   text-align: center;
   overflow: hidden;
}

.slides {
   display: flex;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
   width: 0.625rem;
   height: 0.625rem;
}

.slides::-webkit-scrollbar-thumb {
   background: black;
   border-radius: 0.625rem;
}

.slides::-webkit-scrollbar-track {
   background: white;
}

.slides>div {
   scroll-snap-align: start;
   width: 100%;
   height: 100%;
   background: #eee;
   transform-origin: center center;
   transform: scale(1);
   transition: transform 0.5s;
   position: relative;

   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 6.25rem;
}

.slides img {
   width: 56.25rem;
   height: 37.5rem;
}

.slider>a:active {
   top: 0.0625rem;
}